<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Welcome!{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet"> 
{#     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> #}
    {% block stylesheets %}{% endblock %}
      <link href="../../dist/css/animate.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../dist/css/style.css" rel="stylesheet">    

  </head>

  <body> 
  <div class="container-fluid">  
    <nav class="navbar">
      <div class="col-md-10 col-md-offset-1">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="/">Bizzat-i Kendisi</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">ANA SAYFA</a></li>
            <li><a href="/bizzatikendisi/hakkimda">HAKKIMDA</a></li>
            <li><a href="/bizzatikendisi/yazilarim">YAZILARIM</a></li>
            <li><a href="/bizzatikendisi/iletisim">İLETİŞİM</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><img src="../../dist/images/facebook.png" /></a></li>
            <li><a href="#"><img src="../../dist/images/instagram.png" /></a></li>
            <li><a href="#"><img src="../../dist/images/twitter.png" /></a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="row">
        <div class="container container-app">
            {% block body %}{% endblock %}
        </div>
    </div>
  </div><!-- /.container -->


    {% block javascripts %}{% endblock %}
    <script type="text/javascript" src="../../dist/js/jquery-3.2.1.min.js"/>
    <script type="text/javascript" src="../../dist/js/bootstrap.min.js"/>
    <script type="text/javascript" src="../../dist/js/script.js"/>
  </body>
</html>

