{% extends 'base.html.twig' %}
{% block body %}
<div class="index-container container-fluid">
	<div class="slider-container">		
		<article class="slogan">"Lorem ipsum dolor sit amet, consectetur adipiscing elit."</article>
		<img src="../../dist/images/yazi_line4.png" class="img-slogan" />		
	</div>
	<img src="../../dist/images/circles.png" class="circle-line" />
	<div class="content-container">
		<div class="general-title">Hakkımda</div>
		<div class="text-single-container">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac turpis aliquet dolor dignissim vehicula sit amet id mi. Suspendisse eu elit fermentum, tincidunt quam sed, ultrices justo. Maecenas a eleifend dui. Quisque at maximus sapien, id rhoncus dui. Nunc vel faucibus sem. Praesent suscipit non justo sit amet condimentum.
		<br/><br/>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac turpis aliquet dolor dignissim vehicula sit amet id mi. Suspendisse eu elit fermentum, tincidunt quam sed, ultrices justo. Maecenas a eleifend dui. Quisque at maximus sapien, id rhoncus dui. Nunc vel faucibus sem. Praesent suscipit non justo sit amet condimentum.
		<br/><br/>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac turpis aliquet dolor dignissim vehicula sit amet id mi. Suspendisse eu elit fermentum, tincidunt quam sed, ultrices justo. Maecenas a eleifend dui. Quisque at maximus sapien, id rhoncus dui. Nunc vel faucibus sem. Praesent suscipit non justo sit amet condimentum.
		<br/><br/>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac turpis aliquet dolor dignissim vehicula sit amet id mi. Suspendisse eu elit fermentum, tincidunt quam sed, ultrices justo. Maecenas a eleifend dui. Quisque at maximus sapien, id rhoncus dui. Nunc vel faucibus sem. Praesent suscipit non justo sit amet condimentum.
		<br/><br/>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac turpis aliquet dolor dignissim vehicula sit amet id mi. Suspendisse eu elit fermentum, tincidunt quam sed, ultrices justo. Maecenas a eleifend dui. Quisque at maximus sapien, id rhoncus dui. Nunc vel faucibus sem. Praesent suscipit non justo sit amet condimentum.
		<br/><br/>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac turpis aliquet dolor dignissim vehicula sit amet id mi. Suspendisse eu elit fermentum, tincidunt quam sed, ultrices justo. Maecenas a eleifend dui. Quisque at maximus sapien, id rhoncus dui. Nunc vel faucibus sem. Praesent suscipit non justo sit amet condimentum.
	</div>
</div>
{% endblock %}