{% extends 'base.html.twig' %}
{% block body %}
<div class="index-container container-fluid">
	<div class="slider-container">
		<img src="../../dist/images/yazi1.jpg" class="slider-ex-image" />
		<article class="slider-ex-article">
			<div class="slider-title">LOREM IPSUM</div>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac turpis aliquet dolor dignissim vehicula sit amet id mi. Suspendisse eu elit fermentum, tincidunt quam sed, ultrices justo. Maecenas a eleifend dui. Quisque at maximus sapien, id rhoncus dui. Nunc vel faucibus sem. Praesent suscipit non justo sit amet condimentum. Curabitur ac rutrum libero. Nunc fermentum congue mollis. Donec ornare elementum lacus, eget placerat libero tempor a.
			<a href="#" class="continue">Daha fazlasını okuyun...</a>	
		</article>
		<div class="slider-cycle">
			<img src="../../dist/images/yazi1.jpg" class="slider-cycle-image" />
			<img src="../../dist/images/yazi2.jpg" class="slider-cycle-image" />
			<img src="../../dist/images/yazi3.jpg" class="slider-cycle-image" />
		</div>	
	</div>
	<img src="../../dist/images/circles.png" class="circle-line" />
	<div class="choosing-container">
		<div class="general-title">Başlamak İçin Bir Kategori Seç!</div>
		<div class="category-circle">
			<a href="#">
				<img src="../../dist/images/kategori1.png" />
			</a>
		</div>
		<div class="category-circle">
			<a href="#">
				<img src="../../dist/images/kategori2.png" />
			</a>
		</div>
	</div>
</div>
{% endblock %}