{% extends 'base.html.twig' %}
{% block body %}
<div class="index-container container-fluid">
	<div class="slider-container">
		<div class="yazilarım-category-circle">
			<a href="#" class="layer">
				<div><span class="layer-text">Bizzat-i Kendisi</span></div>
				<img src="../../dist/images/kategori1.png" />
			</a>
		</div>
		<div class="yazilarım-category-circle">
			<a href="#">
				<div class="layer"><span class="layer-text">Bir Gezginin Güncesi</span></div>
				<img src="../../dist/images/kategori2.png" />
			</a>
		</div>
	</div>
	<img src="../../dist/images/circles.png" class="circle-line" />
	<div class="content-container">
		<div class="general-title">Tüm Yazılarım</div>
		{% for yazi in yazilar %} 
		<div class="text-container">
			<img src="../../dist/images/yazi1.jpg" class="text-image" />
			<article class="text-article">
				<div class="text-title">{{ yazi.baslik }}</div>
				{{ yazi.icerik }}
				<a href="/yazilarim/{{ yazi.id }}" class="continue">Daha fazlasını okuyun...</a>
			</article>
		</div>
		{% endfor %}
	</div>
</div>

<script>
    var list;
    do{
        list  = document.getElementsByClassName("text-container");
	}while(0 < (document.getElementsByClassName("text-container")).length);


    for(var i=0;i<list - 1;i++){
        if(($(i) % 2) !== 0 ){
            document.getElementsByClassName("text-container")[i].getElementsByClassName("text-image").setAttribute("style", "float:right");
        }
	}
</script>

{% endblock %}